<?php
/**
 * Project: Laika MVC Framework
 * Author Name: Showket Ahmed
 * Author Email: riyadhtayf@gmail.com
 */

// Namespace
namespace CBM\App\Factory;

// Forbidden Access
defined('ROOTPATH') || http_response_code(403).die('403 Forbidden Access!');

use CBM\App\Factory\ClientFactory

class ClientFactory Extends Factory
{
    public static string $table = 'clients';

    public function create()
    {
        //
    }
}