<?php
/**
 * Project: Laika MVC Framework
 * Author Name: Showket Ahmed
 * Author Email: riyadhtayf@gmail.com
 */

// Namespace
namespace CBM\App\Controller;

// Forbidden Access
defined('ROOTPATH') || http_response_code(403).die('403 Forbidden Access!');

use CBM\App\Controller;
use Template;

class Sample Extends Controller
{
    // {class} Page;
    public function index()
    {
        // Middleware If Required
        // $this->middleware($class, $method, $args = []);

        // Assign Title
        Template::assign('title', 'Sample Controller Page');

        // Assign Specific Function
        Template::registerFunction('funcname', 'strtoupper');

        // Load View File
        Template::display('file_name');
    }
}